
.nav-link.active {
    font-weight: bold;
}

#instructions {
    margin-bottom: 30px;
}

.instructions-section {
    margin-bottom: 20px;
}

.instructions-section h3 {
    color: #007bff;
}

.instructions-section ol {
    padding-left: 20px;
}

.instructions-section ul {
    padding-left: 20px;
}

.hidden {
    display: none;
}

.section {
    padding: 20px;
    margin: 20px;
    border-radius: 8px; /* Rounded corners */
    border: 2px solid #007bff; /* Blue border for sections */
    background-color: #f9f9f9; /* Light background for better contrast */
}

.sub-section {
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px; /* Slightly rounded corners for sub-sections */
    border: 1px solid #007bff; /* Lighter blue border for sub-sections */
    background-color: #ffffff; /* White background for sub-sections */
}

.section h2 {
    border-bottom: 2px solid #007bff; /* Blue line under section headers */
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sub-section h3 {
    border-bottom: 1px solid #007bff; /* Lighter blue line under sub-section headers */
    padding-bottom: 5px;
    margin-bottom: 5px;
}